/* You can add global styles to this file, and also import other style files */

html, body {
  box-sizing: border-box;
  height: 100vh;
}
body {
  margin: 0;
  padding: 20px 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
main {
  max-width: 1100px;
  margin: 0 auto;
}
.btn-submit {
  width: 200px;
  border: none;
  background: plum;
  color: darkblue;
  height: 48px;
  font-size: 24px;
}

button {
  border-radius: 4px;
  cursor: pointer;

  &:disabled {
    background: grey;
    cursor: default;
    color: #000000;
    opacity: 0.1;
  }
}

.btn {
  padding: 5px 25px;
  border: 1px solid darkblue;
  background: none;
  color: darkblue;
}

input {
  height: 32px;
  font-size: 24px;
  width: 200px;
}

select {
  height: 32px;
  font-size: 24px;
  width: 208px;
}

hr {
  margin: 20px 0;
}

table {
  table-layout: fixed;
  width: 100%;
  border: 1px solid #c7c7c7;
  text-align: left;
}

.priority-div {
  border-radius: 50%;
  color: black;
  font-weight: bold;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
}
